.srb-markdown p {
    margin-top:10px;
    margin-bottom:5px;
}

.srb-markdown table, th, td, tr {
    border:solid black 1px;
    padding: 0px 7px 0px 7px;
}

.srb-markdown table {
    margin-bottom: 10px;
    margin-left: 45px;
}