.scheduler-box{
    background-color: #fff;
    border-color: #888;
    border-style: solid;
    border-radius: 2px;
    border-width: 0px;
    padding: 20px;
}

.srb-dropbox {
    margin-bottom: 10px;
}